= form_for @post, :html => { class: "form-signin custom-form-post"} do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title, class: "form-control", placeholder: "Title"
  .field
    = f.label :content
    = f.text_area :content, class: "form-control", placeholder: "Description"
  - if @post.avatar.try(:image).present?
    .image
      = image_tag @post.avatar_url
  .field
    = f.label :image
    = f.file_field :avatar
  .actions
    = f.submit 'Save', class: "btn btn-primary"
