- posts.each do |post|
  .col-sm-6.col-md-4
    .thumbnail
      %a.post-image{href: post_path(post), title: post.title}
        %img.lazyload{:alt => "...", "data-original" => post.image_url}/
      .caption
        %a.post-title.hide-text-overflow{href: post_path(post), title: post.title}
          = post.title
        .wraper-info.overflow-hidden
          .created_at.float-left
            %i.fa.fa-clock-o.fa-fw
            %time.timeago{:datetime => "#{post.created_at.localtime}"}
              = post.created_at.localtime
          .relation-info.float-right
            %span.view-count
              %i.fa.fa-eye
              = post.view_count
            %span.comment-count.dot-separator
              %i.fa.fa-comments-o.fa-fw
              = post.comments_count
        %p.margin-top-5.read-more-text{"data-height" => 110}
          = sanitize(post.content)
      .border-top-thin
        .author
          %i.fa.fa-user
          %a{href: user_path(post.try(:user)), title: post.try(:user).try(:email)}
            = post.user.email.truncate(40)
